<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings />
    <connectionStrings />
    <system.web>
        <compilation debug="true">

        </compilation>
        <!--
            Der Abschnitt <authentication> ermöglicht die Konfiguration 
          des Sicherheitsauthentifizierungsmodus, der von 
          ASP.NET zum Identifizieren eines eingehenden Benutzers verwendet wird. 
        -->
        <authentication mode="Windows" />
        <!--
            Der Abschnitt <customErrors> ermöglicht die Konfiguration 
           der Vorgehensweise beim Auftreten eines nicht behandelten Fehlers 
           während der Ausführung einer Anforderung. Insbesondere 
           ermöglicht er Entwicklern die Konfiguration von HTML-Fehlerseiten, 
           die anstelle einer Fehlerstapelüberwachung angezeigt werden.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    </system.web>

</configuration>
