<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="50000" />
  </appSettings>
    <connectionStrings />
    <system.web>
        <globalization culture="de-ch" uiCulture="de-ch" requestEncoding="UTF-8" responseEncoding="UTF-8" />
    	<httpRuntime maxRequestLength="2048000" executionTimeout="86400" />

        <compilation debug="true">



        </compilation>
        <!--
            Der Abschnitt <authentication> ermöglicht die Konfiguration 
          des Sicherheitsauthentifizierungsmodus, der von 
          ASP.NET zum Identifizieren eines eingehenden Benutzers verwendet wird. 
        -->
        <authentication mode="Windows" />
        <!--
            Der Abschnitt <customErrors> ermöglicht die Konfiguration 
           der Vorgehensweise beim Auftreten eines nicht behandelten Fehlers 
           während der Ausführung einer Anforderung. Insbesondere 
           ermöglicht er Entwicklern die Konfiguration von HTML-Fehlerseiten, 
           die anstelle einer Fehlerstapelüberwachung angezeigt werden.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
            <httpModules>
      <!--
      <add name="WebServiceAuthenticationModule" type="WebServiceAuthenticationModule.WebServiceAuthenticationModule, WebServiceAuthenticationModule"/>
        
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions"/>
      -->
    </httpModules>
    <httpHandlers>
      <add verb="*" path="*.svg" type="SvgFloorPlanner.SvgHandler" />
      <!--
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions"/>
      -->
    </httpHandlers>
    </system.web>

    <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--
      <add name="WebServiceAuthenticationModule" preCondition="integratedMode" type="WebServiceAuthenticationModule.WebServiceAuthenticationModule, WebServiceAuthenticationModule"/>
      
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions"/>
      -->
    </modules>
    <handlers>
      <remove name="svg" />
      <add name="svg" verb="*" path="*.svg" type="SvgEdit.SvgHandler" />
      <!--
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      <add name="asmx" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions" />
      -->
    </handlers>
  </system.webServer>
</configuration>
